body {
  margin: 0;

}

.container{
  display: flex;
  flex-direction: column;
  background-color: pink;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  border: 1px solid white;
}
.top{
    border: 5px solid black;
    padding: 0 5%;
    text-align: center;
    width: 25vw;

}
.top > h1 {
  font-size: 3em;

}

.bottom{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;


}

.bottom > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.counterDiv {
  align-content: space-around;

}

.counterDiv > span {
  text-align: center;
  font-size: 3em;
}
